h1, h2,
.h1, .h2 {
  letter-spacing: $headings-kerning;
}

h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
  color: $body-color;
 // font-family: $font-family-base;
}

.baseline-first-par-spacing {
  margin-top: 1rem;
}
