
/*------------------------------------------------------------------*\
    COLORS WEEE!
\*------------------------------------------------------------------*/


$brand-primary: #97DECC ;
$brand-secondary: #F15B4F;
$brand-tertiary: #36577F;
$cobalt: #009EC2;

$light-grey: #F5F5F5;
$dark-grey: #d8d8d8;
$dark-dark-grey: #333;
$white: #fafafa;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee


/*------------------------------------------------------------------*\
    Grid Columns
\*------------------------------------------------------------------*/

// Set the number of columns and specify the width of the gutters.

$grid-columns:               14;
$grid-gutter-width:          1.875rem;

/*------------------------------------------------------------------*\
    NAV
\*------------------------------------------------------------------*/

$nav-bkg-color: #D5EAEA;
$nav-link-color: $cobalt;
$nav-height: 62px;

$btn-border-thickness: 3px;
$btn-border-text-color: $brand-secondary;
$btn-border-text-color: $brand-secondary;
$btn-border-bg: transparent;
$btn-border-border: $brand-secondary;

/*------------------------------------------------------------------*\
    TYPOGRAPHY
\*------------------------------------------------------------------*/


//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


//== Typography
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;
$font-family-accent:    Futura, 'Trebuchet MS', Arial, sans-serif; //"futura-pt",sans-serif;
$font-family-base:        $font-family-sans-serif;

//
//$font-size-base:          18px;
//$font-size-large:         ceil(($font-size-base * 1.25));           // ~
//$font-size-small:         ceil(($font-size-base * 0.85));           // ~
//
//$font-size-h1:            floor(($font-size-base * 2.6));           // ~46px
//$font-size-h2:            floor(($font-size-base * 2.15));          // ~38px
//$font-size-h3:            ceil(($font-size-base * 1.7));            // ~31px
//$font-size-h4:            ceil(($font-size-base * 1.25));           // ~24px
//$font-size-h5:            $font-size-base;
//$font-size-h6:            ceil(($font-size-base * 0.85));           // ~16px

////** Unit-less `line-height` for use in components like buttons.
//$line-height-base:        1.428571429 !default; // 20/14
////** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
//$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$font-weight-normal:    300;

$headings-font-family:   $font-family-accent;
$headings-font-weight:    600;
$headings-line-height:    1.1 !default;
$headings-color:          $brand-secondary;

$nav-font-family: $font-family-accent;


/*------------------------------------------------------------------*\
    SCREEN SIZES
\*------------------------------------------------------------------*/



/*------------------------------------------------------------------*\
    CONTAINER
\*------------------------------------------------------------------*/

$section-padding: 40px;
$work-height: 250px;
$work-margin: 30px;


/*------------------------------------------------------------------*\
    MIXINS
\*------------------------------------------------------------------*/

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin transition() {
  transition: all 0.3s ease-in-out;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

/*** Make a Square ***/
@mixin square($size) {
  @include size($size, $size);
}

/*** Padding for Sections ***/
@mixin section-spacing($section-padding) {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

/*** Padding for Headers ***/
@mixin section-header($section-padding) {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

/*** Opacity with Fallback ***/
@mixin background-opacity($color, $opacity-number) {
  $opacity : $opacity-number;
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

/*** Button Variations ***/
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: darken($color, 12%);
    background-color: darken($background, 10%);
    border-color: darken($border, 25%);
  }
  &:hover {
    color: darken($color, 12%);
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: darken($color, 12%);
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: darken($color, 12%);
      background-color: darken($background, 17%);
      border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}
