

/*------------------------------------------------------------------*\
    COLORS WEEE!
\*------------------------------------------------------------------*/


$brand-primary: #97DECC ;
$brand-secondary: #FFCE00;
$brand-tertiary: #316468;
$brand-quatiary: #FCE1E1;

$brand-primary-lighter: lighten($brand-primary, 20%);


// link color
$cobalt: #009EC2;

$light-grey: #F5F5F5;
$dark-grey: #d8d8d8;
$dark-dark-grey: #333;
$white: #fefefe;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee



// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               false !default;
$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        false !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer:                     1rem !default;
$spacer-x:                   $spacer !default;
$spacer-y:                   $spacer !default;
$spacers: (
        0: (
                x:   0,
                y:   0
        ),
        1: (
                x:   $spacer-x,
                y:   $spacer-y
        ),
        2: (
                x:   ($spacer-x * 1.5),
                y:   ($spacer-y * 1.5)
        ),
        3: (
                x:   ($spacer-x * 3),
                y:   ($spacer-y * 3)
        )
) !default;
$border-width:               1px !default;


// Body
//
// Settings for the `<body>` element.

$body-bg:                    #fff !default;
$body-color:                 $gray-dark !default;


// Links
//
// Style anchor elements.

$link-color:                 $brand-primary !default;
$link-decoration:            none !default;
$link-hover-color:           darken($link-color, 15%) !default;
$link-hover-decoration:      underline !default;



/*------------------------------------------------------------------*\
    Grid Columns
\*------------------------------------------------------------------*/

// Set the number of columns and specify the width of the gutters.

$grid-columns:               14;
$grid-gutter-width:          4.875rem;

/*------------------------------------------------------------------*\
    NAV
\*------------------------------------------------------------------*/

$nav-bkg-color: #D5EAEA;
$nav-link-color: $cobalt;
$nav-height: 62px;

$btn-border-thickness: 3px;
$btn-border-text-color: $brand-secondary;
$btn-border-text-color: $brand-secondary;
$btn-border-bg: transparent;
$btn-border-border: $brand-secondary;



/*------------------------------------------------------------------*\
    Typography
\*------------------------------------------------------------------*/

// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:     "Open Sans", Helvetica, Arial, sans-serif;
$font-family-serif:          Georgia, "Times New Roman", Times, serif !default;
$font-family-accent:         Futura, 'Trebuchet MS', Arial, sans-serif; //"futura-pt",sans-serif;
$font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:           $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
// Typographic Scale Ratio 1.25

$font-size-root:             18px;

$font-size-base:             1rem !default;
$font-size-xxxl:             2.441rem;
$font-size-xxl:              1.953rem;
$font-size-xl:               1.563rem;
$font-size-lg:               1.25rem;
$font-size-sm:               .8rem;
$font-size-xs:               .64rem;

$font-size-h1:               $font-size-xxxl;
$font-size-h2:               $font-size-xxl;
$font-size-h3:               $font-size-xl;
$font-size-h4:               $font-size-lg;
$font-size-h5:               $font-size-lg;
$font-size-h6:               1rem !default;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;

$line-height:                1.5 !default;

$headings-margin-bottom:     1.25rem;
$headings-font-family:       $font-family-accent;
$headings-font-weight:       300;
$headings-line-height:       1.75rem;
$headings-color:             $brand-secondary;
$headings-kerning:           .3rem;

$nav-font-family: $font-family-accent;

$lead-font-size:             1.25rem !default;
$lead-font-weight:           300 !default;

$text-muted:                  $gray-light !default;

$abbr-border-color:           $gray-light !default;

$blockquote-small-color:      $gray-light !default;
$blockquote-font-size:        ($font-size-base * 1.25) !default;
$blockquote-border-color:     $gray-lighter !default;

$hr-border-color:             rgba(0,0,0,.1) !default;
$hr-border-width:             $border-width !default;

$dt-font-weight:              bold !default;

$nested-kbd-font-weight:      bold !default;

$list-inline-padding:         5px !default;



/*------------------------------------------------------------------*\
    SCREEN SIZES
\*------------------------------------------------------------------*/



/*------------------------------------------------------------------*\
    CONTAINER
\*------------------------------------------------------------------*/

$section-padding: 40px;
$work-height: 250px;
$work-margin: 30px;


/*------------------------------------------------------------------*\
    MIXINS
\*------------------------------------------------------------------*/

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin transition() {
  transition: all 0.3s ease-in-out;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

/*** Make a Square ***/
@mixin square($size) {
  @include size($size, $size);
}

/*** Padding for Sections ***/
@mixin section-spacing($section-padding) {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

/*** Padding for Headers ***/
@mixin section-header($section-padding) {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

/*** Opacity with Fallback ***/
@mixin background-opacity($color, $opacity-number) {
  $opacity : $opacity-number;
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

/*** Button Variations ***/
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: darken($color, 12%);
    background-color: darken($background, 10%);
    border-color: darken($border, 25%);
  }
  &:hover {
    color: darken($color, 12%);
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: darken($color, 12%);
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: darken($color, 12%);
      background-color: darken($background, 17%);
      border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}
