// bower:scss
// endbower

@import "vars";
@import "../bower_components/bootstrap/scss/bootstrap-flex";
@import "buttons";
@import "icon";
@import "nav";
@import "type";
@import "utilities";




body {
  border-left: 20px solid $brand-secondary;
  border-bottom: 20px solid $brand-secondary;
}

ul {
  list-style: none;
}

.triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 100px solid $brand-quatiary;
  border-right: 100px solid transparent;
  position: relative;
  left: -20px;
  top: 20px;
}
