// bower:scss
// endbower

@import "vars";
@import "nav";
@import "type";
@import "../bower_components/bootstrap/scss/bootstrap-flex";


body {
  border-left: 20px solid $brand-secondary;
  border-bottom: 20px solid $brand-secondary;
}

ul {
  list-style: none;
}
