doctype html
html.no-js(lang='')
	head
	meta(charset='utf-8')
	meta(name='description', content='Jen Prince Product Designer')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title Jen Prince Product Designer
	link(rel='apple-touch-icon', href='apple-touch-icon.png')

<!-- Place favicon.ico in the root directory -->

<!-- build:css styles/vendor.css -->
<!-- bower:css -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:css styles/main.css -->
link(rel='stylesheet', href='styles/main.css')
<!-- endbuild -->

<!-- build:js scripts/vendor/modernizr.js -->
script(src='/bower_components/modernizr/modernizr.js')
<!-- endbuild -->

body
	<!--[if lt IE 10]>
	//p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	nav.container-fluid
		div.row
			div.col-sm-4.page-title
				h1.text-uppercase Jen Prince
				h2.h3 Product Designer & Front-End Developer
				img(src='images/jen-pic.png', alt='Jen Prince')
			ul.col-sm-10
				li
					a.btn.btn-info(href='#') contact me

	p I am a product designer who also writes code that brings products to life. As Ethan Marcotte states “That old idea of ‘handoff’ between design and technology is where problems most commonly pop up.” I enjoy blending my knowledge of UX, design and development to create web applications that meet the needs of the user and the client.

	h3 A Little About Me

	p In undergrad, I studied Industrial Design (product design) at Appalachian State University. I worked in the furniture industry designing sustainable furniture, which slowly transitioned to graphic design. As happens to a lot of graphic designers, I began to have projects that involved designing for the web. As a designer, I very strongly felt the need to understand the medium of the web to inform my design decisions, so I decided to get my master’s degree in Web Design and Development. Since then, I have spent two years as the primary UX/UI Designer and Developer for a complex enterprise CMS, and the past two years at an Angular.js consultancy working on UX/UI as well as front-end development for customer applications of large and small scale. I love designing and building on the web and love how concepts from industrial product design apply directly to the UX/UI product design process. I feel that the arc I have taken in my career gives me the wide umbrella of skills that one needs as a UX Designer.

	h3 Design to Me

	p For me, design is so much more than making things look pretty. While visual design is the icing on the cake and I love doing it, great product design is truly rooted in a firm understanding of the problems that are being solved. It is about doing the research and using critical thinking to understand the key business strategy, as well as the users' joys and pains.  By doing so, one is equipped to make informed decisions on the UX design of an application.  Weaving user testing into the process ensures users needs are being met, while also providing further insight into the key problems the product seeks to address.

	h3 Craft

	p After undergrad, I was a finalist in a national woodworking competition for handmade furniture (I love woodworking!).  I also studied glass blowing at the Penland School of Craft.  Attention to detail, design decisions informed by the use of the product in the real world, as well as the design medium, embody what the word craftsmanship means to me.  I love that craftsmanship applies to code and process in software development.  A frictionless user flow, organized code, CSS with naming conventions and accessibility are the equivalent to me of a snug fitting dovetail joint.



<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
script.
	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	e.src='https://www.google-analytics.com/analytics.js';
	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	ga('create','UA-XXXXX-X');ga('send','pageview');


<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/main.js -->
script(src='scripts/main.js')
<!-- endbuild -->





