doctype html
html.no-js(lang='')
	head
	meta(charset='utf-8')
	meta(name='description', content='Jen Prince Product Designer')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title Jen Prince Product Designer
	link(rel='apple-touch-icon', href='apple-touch-icon.png')

<!-- Place favicon.ico in the root directory -->

<!-- build:css styles/vendor.css -->
<!-- bower:css -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:css styles/main.css -->
link(rel='stylesheet', href='styles/main.css')
<!-- endbuild -->

<!-- build:js scripts/vendor/modernizr.js -->
script(src='/bower_components/modernizr/modernizr.js')
<!-- endbuild -->

body
	<div style="height: 0; width: 0; position: absolute; visibility: hidden">
	include ./images/svg-pre-compiled.svg
	</div>


	<!--[if lt IE 10]>
	//p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	nav.container-fluid
		div.row
			div.col-sm-4.col-sm-offset-1.page-title
				h1.text-uppercase Jen Prince
				h2.h4 Product Designer & Front-End Developer
				img.profile-img(src='images/jen-pic.png', alt='Jen Prince')
			div.col-sm-6
				div.animation-nav
			div.col-sm-3
				a.btn.btn-info.btn-contact(href='#') Contact Me
	div.container-fluid
		div.row
			div.block-summary.col-sm-6.col-sm-offset-1
				svg.icon.icon-unicorns(viewBox="0 0 100 5.5")
					use(xlink:href="#unicorns")
				p.baseline-first-par-spacing I am a product designer who also writes code that brings products to life. As Ethan Marcotte states “That old idea of ‘handoff’ between design and technology is where problems most commonly pop up.” I enjoy blending my knowledge of UX, design and development to create web applications that meet the needs of the user and the client.

			div.col-sm-5.col-sm-offset-1
				h2 Education
				p 2011-2014 Denver University
					span Master of Applied Sciences
					span Web Design & Development

				p 2001-2005
				p Appalachian State University
				p Bachelor of Science
				p Industrial Design

		div.row
			div.col-sm-4.col-sm-offset-1
				h2 Design Skills
				ul
					li Illustrator
					li Sketch
					li Photoshop
					li Balsamiq
					li Invision
					li Accessibility
					li Visual Design
					li Branding
					li Animation
					li Typography
					li Visual Style Guides
					li Prototypes

				h2 Nerd Skills
				ul
					li HTML5
					li CSS3
					li OOCSS
					li SASS & LESS
					li Bootstrap
					li WCAG & Aria
					li JavaScript
					li Responsive Design
					li Angular 1.X
					li jQuery
					li Grunt, Bower & NPM
					li Command Line
					li SVG
					li Git

			div.col-sm-7.col-sm-offset-1
				h2 Experience
				h3.h5 2014-2016 UX/UI Designer & Front-End Developer at Front Edge Digital
				span (remote position)

				p Clients ranged from enterprise level to small businesses. Conducted research to identify and understand the users, design goals and business context. Utilized  collaboration, critical thinking and an iterative design process. Developed wireframes, mockups, prototypes, visual style guides and style tiles to effectively communicate interaction and design ideas.  Implemented responsive designs using HTML5, CSS3, LESS, SASS, Angular.js, JavaScript, jQuery, Bootstrap, Jade, Grunt, Bower, Firebase, JSON and SVG with performance and accessibility in mind.   Within Agile methodology, utilitzed web service concepts such as REST.

				h3.h5 2011-2014 UI/UX Designer & Front-End Developer at Flatirons Solutions
				span (formerly InfoTrust Group)

				p Conducted user interviews and user research to inform designs. Advocated for the customer during our product development process. Conducted Section 508 accessibility compliance audits for product offering and identified technical solutions.  Created visual designs and implemented for enterprise web application framework. Responsive design, web standards, usability, modularity and accessibility were all key components in implementations. Utilized technologies such as HTML5, CSS3 and XSLT, SASS, Twitter Bootstrap, Modernizer and XML.

		div.row
			div.col-sm-12.col-sm-offset-1
				h2 Hobbies & Interests

				ul
					li Climbing
					li Vanlife & RV Travel
					li Woodworking

		div.row
			div.col-sm-12.col-sm-offset-1
				h3 A Little About Me

				p In undergrad, I studied Industrial Design (product design) at Appalachian State University. I worked in the furniture industry designing sustainable furniture, which slowly transitioned to graphic design. As happens to a lot of graphic designers, I began to have projects that involved designing for the web. As a designer, I very strongly felt the need to understand the medium of the web to inform my design decisions, so I decided to get my master’s degree in Web Design and Development. Since then, I have spent two years as the primary UX/UI Designer and Developer for a complex enterprise CMS, and the past two years at an Angular.js consultancy working on UX/UI as well as front-end development for customer applications of large and small scale. I love designing and building on the web and love how concepts from industrial product design apply directly to the UX/UI product design process. I feel that the arc I have taken in my career gives me the wide umbrella of skills that one needs as a UX Designer.

				h3 Design to Me

				p For me, design is so much more than making things look pretty. While visual design is the icing on the cake and I love doing it, great product design is truly rooted in a firm understanding of the problems that are being solved. It is about doing the research and using critical thinking to understand the key business strategy, as well as the users' joys and pains.  By doing so, one is equipped to make informed decisions on the UX design of an application.  Weaving user testing into the process ensures users needs are being met, while also providing further insight into the key problems the product seeks to address.

				h3 Craft

				p After undergrad, I was a finalist in a national woodworking competition for handmade furniture (I love woodworking!).  I also studied glass blowing at the Penland School of Craft.  Attention to detail, design decisions informed by the use of the product in the real world, as well as the design medium, embody what the word craftsmanship means to me.  I love that craftsmanship applies to code and process in software development.  A frictionless user flow, organized code, CSS with naming conventions and accessibility are the equivalent to me of a snug fitting dovetail joint.

footer.triangle-bottomleft

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
script.
	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	e.src='https://www.google-analytics.com/analytics.js';
	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	ga('create','UA-XXXXX-X');ga('send','pageview');


<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/main.js -->
script(src='scripts/main.js')
<!-- endbuild -->





